.row
  .col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
    %h1.text-center Top commenters in last week
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th Name
          %th Number of comments
      %tbody
        - top_commenters.each_with_index do |commenter, i|
          %tr
            %td= i + 1
            %td= commenter.name
            %td= commenter.number_of_comments
